doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Tomasz's Azure test Express.js site
    #menu
      ul
        li
          a(href="/") Main page
        li
          a(href="/about") About
    block content
